<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.serviceModel>
        <bindings>
             <basicHttpBinding>
                  <binding name="BasicHttpBinding_IPykServices_soap" />
             </basicHttpBinding>
        </bindings>
        <client>
             <endpoint address="http://ca-pykserver.thankfuldune-a390147c.westeurope.azurecontainerapps.io:443/achilleas-fuelflow.asmx"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPykServices_soap"
                  contract="FuelFlowService.IPykServices" name="BasicHttpBinding_IPykServices_soap" />
        </client>
    </system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
