<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ASFuelControlDB_Connection" connectionString="data source=(local)\SQLServer;initial catalog=ASFuelControlDB;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>