<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ASFuelControl.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="ASFuelControl.Box69.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="ASFuelControl.Windows.Properties.Settings.DBConnection"
        connectionString="Data Source=(local)\SQLServer;Initial Catalog=ASFuelControlDB_aggelina;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="ASFuelControl.Windows.Properties.Settings.DBMasterConnection"
        connectionString="data source=(local)\SQLServer;initial catalog=Master;integrated security=True" />
</connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="achilleas_fuelflow_receiptSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://eisrek.mygsi.eu/achilleas-fuelflow.asmx"
        binding="basicHttpBinding" bindingConfiguration="achilleas_fuelflow_receiptSoap"
        contract="FuelFlowService.achilleas_fuelflow_receiptSoap" name="achilleas_fuelflow_receiptSoap" />
      <endpoint address="http://www.5gsms.com/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="SmsService.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <ASFuelControl.Windows.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>ASFuelControl.log</value>
      </setting>
      <setting name="LogSend" serializeAs="String">
        <value>True</value>
      </setting>
    </ASFuelControl.Windows.Properties.Settings>
    <ASFuelControl.Box69.Properties.Settings>
      <setting name="LogCommunication" serializeAs="String">
        <value>True</value>
      </setting>
    </ASFuelControl.Box69.Properties.Settings>
  </applicationSettings>
</configuration>
