<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDataCorrection.Properties.Settings.DBConnection"
            connectionString="Data Source=DESKTOP-OTQKT5I\SQL2017;Initial Catalog=ASFuelControlDB_Petridou;Integrated Security=True;Connect Timeout=300" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>