<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ASFuelControlDBConnection" connectionString="data source=DIMOS-PC\SQLSERVER;initial catalog=ASFuelControlVeroia;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>