<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASFuelControl.Reports.Properties.Settings.ASFuelControlDB"
            connectionString="Data Source=DIMOS-PC\SQLSERVER;Initial Catalog=ASFuelControlDB_Tsigas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ASFuelControl.Reports.Properties.Settings.ASFuelControlDBConnection"
            connectionString="Data Source=DIMOS-PC\SQLSERVER;Initial Catalog=ASFuelControlDB_Tsigas;Integrated Security=True" />
    </connectionStrings>
</configuration>