<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASFuelControl.Reports.Properties.Settings.ASFuelControlDB" connectionString="Data Source=DIMOS-PC\SQLSERVER;Initial Catalog=ASFuelControlDB_EcoThrak;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="ASFuelControl.Reports.Properties.Settings.ASFuelControlDBConnection" connectionString="Data Source=DIMOS-PC\SQLSERVER;Initial Catalog=ASFuelControlDB_EcoThrak;Integrated Security=True" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.1" newVersion="2015.1.225.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.1" newVersion="2015.1.225.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
