<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="achilleas_fuelflow_receiptSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://eisrek.mygsi.eu/achilleas-fuelflow.asmx"
                binding="basicHttpBinding" bindingConfiguration="achilleas_fuelflow_receiptSoap"
                contract="FuelFlowService.achilleas_fuelflow_receiptSoap"
                name="achilleas_fuelflow_receiptSoap" />
        </client>
    </system.serviceModel>
</configuration>