<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ASFuelControl.Windows.assemply" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ASFuelControl.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ASFuelControl.Box69.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ASFuelControl.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ASFuelControl.FuelPump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="ASFuelControl.Windows.Properties.Settings.DBConnection"
        connectionString="Data Source=DESKTOP-OTQKT5I;Initial Catalog=ASFuelControlDB;Integrated Security=True;Connect Timeout=300"
        providerName="System.Data.SqlClient" />
    <add name="ASFuelControl.Windows.Properties.Settings.DBMasterConnection"
        connectionString="Data Source=DESKTOP-OTQKT5I;Initial Catalog=master;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="ASFuelControlDB_Connection" connectionString="Data Source=DESKTOP-OTQKT5I;Initial Catalog=ASFuelControlDB;Integrated Security=True;Connect Timeout=100" />
</connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
		<binding name="achilleas_fuelflow_receiptSoap" sendTimeout="00:10:00">
		  <security mode="Transport" />
		</binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test-pratiria-ws.aade.gr/achilleas-fuelflow.asmx"
        binding="basicHttpBinding" bindingConfiguration="achilleas_fuelflow_receiptSoap"
        contract="FuelFlowService.achilleas_fuelflow_receiptSoap" name="achilleas_fuelflow_receiptSoap" />
      <endpoint address="http://www.5gsms.com/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="SmsService.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <applicationSettings>
    <ASFuelControl.Windows.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>ASFuelControl.log</value>
      </setting>
      <setting name="LogSend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogController" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TCPPrinterAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="TCPPrinterPort" serializeAs="String">
        <value>9100</value>
      </setting>
      <setting name="TCPPrinterCodeTable" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TCPPrinterInternationalCharacter" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="WholeSaleCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>161</string>
            <string>165</string>
            <string>221</string>
            <string>222</string>
            <string>178</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AlertIndexModulus" serializeAs="String">
        <value>5</value>
      </setting>
    </ASFuelControl.Windows.Properties.Settings>
    
    <ASFuelControl.Box69.Properties.Settings>
      <setting name="LogCommunication" serializeAs="String">
        <value>True</value>
      </setting>
    </ASFuelControl.Box69.Properties.Settings>

    <ASFuelControl.FuelPump.Properties.Settings>
      <setting name="CloseSaleDelay" serializeAs="String">
        <value>1</value>
      </setting>
    </ASFuelControl.FuelPump.Properties.Settings>

    <ASFuelControl.Common.Properties.Settings>
      <setting name="SalesLogger" serializeAs="String">
        <value>True</value>
      </setting>
    </ASFuelControl.Common.Properties.Settings>

    
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.1" newVersion="2015.1.225.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.1" newVersion="2015.1.225.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
