<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TitrationExporter.Properties.Settings.DBConnection"
            connectionString="Data Source=(local)\SQLServer;Initial Catalog=ASFuelControlDB_Katsikaki;Integrated Security=True 1" />
    </connectionStrings>
</configuration>